package components


templ Navbar(isLoggedIn bool) {
	<nav class="navbar">
		<div class="nav-left">
			<a href="/" class="nav-item nav-home">
				@HomeIcon()
				<span>Home</span>
			</a>
		</div>
		<div class="nav-right">
			if isLoggedIn {
				<a href="/logout" class="nav-item nav-logout">
					<span>Logout</span>
				</a>
			} else {
				<a href="/login" class="nav-item">Login</a>
				<a href="/signup" class="nav-item nav-signup">Sign Up</a>
			}
		</div>
	</nav>
}
