package pages

import (
    "github.com/matt-horst/split-ways/web/components"
    "github.com/matt-horst/split-ways/internal/database"
)

templ Dashboard(username string, groups []database.Group) {
    <!DOCTYPE html>
    <html>
    @components.Head("SplitWays")
    <body>
        <main class="card" role="main">
            @components.Navbar(true)
            <h1>Welcome, { username }</h1>
            @components.GroupsList(groups)
        </main>
    </body>
    </html>
}
