package pages

templ Index() {
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SplitWays</title>
    </head>
    <body>
        <main class="card" role="main">
            <h1>Split-Ways</h1>
        </main>
    </body>
    </html>
}
