package pages

import "github.com/matt-horst/split-ways/web/components"

templ Index() {
    <!DOCTYPE html>
    <html>
    @components.Head("SplitWays")
    <body>
        <main class="card" role="main">
            <h1>Split-Ways</h1>
        </main>
    </body>
    </html>
}
